.clients {
    padding-bottom: var(--padding-of-section);
    padding-top: 94px;
}
.clients-title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    text-align: center;  
    font-weight: var(--font-weight-variable);  
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: var(--letter-spacing);
}
.clients-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: calc(-1*var(--margin-in-section));
}

.clients-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 90px;
    border: 1px solid #AFB1B8; 
    border-radius: 4px;
    margin-left: var(--margin-in-section);
}
.clients-link {
    color: var(--social-links-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus  {
    color: var(--accent-color);
}

.clients-item:focus,
.clients-item:hover {
    border: 1px solid var(--accent-color);
}
.clients-icon {
    fill: currentColor;
}