.we-do {
    padding-bottom: 149px;
} 
.images-of-work {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: calc(-1*var(--margin-in-section));
    margin-bottom: calc(-1*var(--margin-in-section));
}
.images-of-work > .works{
    margin-left: var(--margin-in-section);
    margin-bottom: var(--margin-in-section);
}
.works {
    position: relative;
    height: 294px;
    width: 370px;
}
.our-products {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    left: 0;
    bottom: 0;
    background: rgba(47, 48, 58, 0.8);
    transform: scaleY(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 150ms;
}
.works:focus .our-products,
.works:hover .our-products{
    transform: scaleY(1.1);   
}
.products-text {
    font-weight: var(--font-weight-variable);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: var(--letter-spacing);
    text-transform: uppercase;
    color: #fff;    
}
