.logo {
    margin-right: 93px;
    animation-duration: 3000ms;
}
.logo {
    font-family: var(--secondary-font);
    font-weight: var(--font-weight-variable);
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: var(--letter-spacing);
    color: var(--accent-color);
}
.change-first {
    color: #000;
}